*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.step{
    background-color: rgb(184, 206, 255);
    height: 350px;
    width: 400px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    gap: 40px;
    color: rgb(46, 46, 46);
}
.step h2{
    font-size: 28px;
    color: rgb(46, 46, 46);
}
.form-grup{
    width: 285px;
}
.form-grup input,label{
    font-size: 21px;
    display: flex;
    justify-content: start;
    align-items: center;
    outline: none;
    border-radius: 7px;
}
.form-grup p{
    font-size: 20px;
    margin-bottom: 15px;
    margin-right: 7px;
    color: rgb(46, 46, 46);
}
.form-grup input{
    border: 1px solid;
    margin-top: 5px;
    padding: 10px;
}
.btn-grup{
    width: 100%;
    height: 30px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-grup button{
    font-size: 18px;
    height: 100%;
    width: 100px;
}
.btn-next,.btn-submit{
    border-radius: 7px;
    border: none;
    background-color: rgb(35, 177, 35);
    color: rgb(243, 243, 243);
}
.btn-previous{
    border-radius: 7px;
    border: none;
    background-color: rgb(177, 68, 35);
    color: rgb(243, 243, 243);
}