.new-style{
    font-size: 21px;
    color: green;
}
#change-text__box{
    width: 200px;
    height: 200px;
    background: red;
}
#change-text__blue{
    width: 200px;
    height: 200px;
    background: blue;
}
#change-text__box-green{
    width: 200px;
    height: 200px;
    background: green;
}