*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    margin: 25px auto;
}
.container ul {
    list-style: none;
    font-size: 21px;
    border: 1px solid gray;
    border-top: none;
}
.container ul li {
    padding: 15px 50px;
    border-top: 1px solid gray;
}
.active{
    background-color: rgb(126, 222, 252);
}