#change-color{
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: rgb(15, 116, 999);
    color: white;
    border: none;
    border-radius: 12px;
}
#box-random-color{
    width: 200px;
    height: 200px;
    background: red;
    margin-top: 15px;
    border-radius: 12px;
}