.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
#show-box{
    width: 150px;
    height: 50px;
    font-size: 21px;
}
#hidden-box{
    width: 150px;
    height: 50px;
    font-size: 21px;
}
.container-box{
    margin-top: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
}
.container-box p{
    color: wheat;
    font-size: 24px;
}
.hidden{
    display: none;
}