*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-top{
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#container-top__search{
    height: 100%;
    width: 70%;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 21px;
    background-color: rgb(219, 219, 219);
    color: rgb(61, 61, 61);
}
#container-top__submit{
    height: 100%;
    width: 30%;
    border-radius: 12px;
    border: none;
    font-size: 21px;
    background-color: rgb(8, 128, 8);
    color: white;
}
.container-bottom{
    margin-top: 40px;
    width: 300px;
    height: 500px;
    
    
}
.container-bottom__result{
    border: 1px solid;
    padding: 10px;
    margin: 10px auto;
    border-radius: 12px;
    font-size: 18px;
    background-color: rgb(70, 61, 119);
    line-height: 25px;
    color: rgb(177, 177, 177);
}