*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    margin: 20px auto;
    width: 300px;
}
.title{
    display: block;
    font-size: 21px;
    margin-top: 15px;
}
.input{
    width: 100%;
    height: 40px;
    outline: none;
}
.alert{
    font-size: 18px;
    color: rgb(194, 34, 34);
    font-weight: 600;

}