.container{
    margin: 20px auto;
    width: 250px;
}
.accardon{
    width: 100%;
    min-height: 40px;
}
.accardon-title{
    background-color: gold;
    height: 40px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.accardon-title__text{
    all: unset;
    font-size: 21px;
    font-weight: bold;
    height: 100%;
    width: 100%;
}
.accardon-panel{
    display: none;
}
.accardon-panel__text{
    text-align: justify;
}
.active{
    display: flex;
}