*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
}
.box{
    width: 250px;
    height: 60px;
    background-color: lightblue;
    border-radius: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    position: absolute;
    top: 50%;
    left: 40%;
}