*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
input{
    margin: 20px auto;
    width: 250px;
    height: 50px;
    border: 1px solid rgb(86, 86, 236);
    border-radius: 12px;
    text-align: center;
    outline: none;
    color: purple;
    font-size: 18px;
}
p{
    text-align: center;
    color: purple;
    font-size: 18px;
}