*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    box-shadow: 0 0 8px rgb(19, 19, 19);
    border-radius: 7px;
    width: 900px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.first-row button{
    
}
.second-row{

}
.third-row{

}
button{
    width: 70px;
    height: 70px;
    margin: 5px;
    font-size: 21px;
    border-radius: 7px;
    background-color: rgb(17, 77, 92);
    color: rgb(240, 240, 240);
    border: none;
    box-shadow: 1px 2px 6px rgb(5, 23, 24);
}
.down{
    background-color: rgb(27, 126, 129);
    box-shadow: 1px 2px 6px rgb(5, 23, 24);
}